<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "post-list" %}">Blog</a></li>
            <li><a href="{% url "about" %}">About </a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            <a href="{% url "logout" %}">Logout</a>

        </ul>
    </nav>
    <h1>About Page</h1>
</body>
</html>