<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    <nav>
        <ul class='nav-ul'>
            <li class='nav-li'><a href="{% url 'home' %}">Home</a></li>
            <li class='nav-li'><a href="{% url 'post-list' %}">Blog</a></li>
            <li class='nav-li'><a href="{% url 'profile' %}">Profile</a></li>
            <li class='nav-li'><a href="{% url 'login' %}">Login</a></li>
        
        </ul>
    </nav>
    <h1>Contact Page</h1>
</body>
</html>